root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C# files
[*.cs]
indent_style = space
indent_size = 4
tab_width = 4

# .NET XML files (project files, config)
[*.{csproj,props,targets,xml,config,nuspec}]
indent_style = space
indent_size = 2

# TypeScript/JavaScript/JSON/YAML
[*.{ts,tsx,js,jsx,json,yml,yaml}]
indent_style = space
indent_size = 2

# CSS/SCSS
[*.{css,scss}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Makefile requires tabs
[Makefile]
indent_style = tab
